{#
/**
 * @file
 * Default theme implementation to display a recurring dates field.
 *
 * Available variables:
 * - date: shows first start, and end date if available, whether or not the
 *   field is a rule.
 * - interpretation: The human readable repeat rule.
 * - occurrences: The occurrences, if value is recurring. Individual occurrences
 *   can be printed as a whole, or properties of each occurrences can be
 *   accessed:
 *   - occurrence: print all properties
 *     - start_date: the start date.
 *     - end_date: the end date.
 *     - separator: the date separator.
 * - is_recurring: Whether the field value is recurring.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('un_date/un-date') }}

<dl{{ attributes.addClass('un-date') }}>
  {% if same_date %}
  <div class="un-date__wrapper un-date__wrapper--date un-date__wrapper--date--start">
    <dt class="un-date__label">{{ 'Date:'|t }}</dt>
    <dd class="un-date__date"><time class="un-date__date__value" datetime="{{ iso_start_date }}">{{ start_date }} {{ start_time }}{% if display_timezone %} ({{ timezone }}){% endif %}</time></dd>
  </div>
  {% else %}
    {% if same_day %}
      <div class="un-date__wrapper un-date__wrapper--date un-date__wrapper--date--start">
        <dt class="un-date__label">{{ 'Date:'|t }}</dt>
        <dd class="un-date__date">
          {% if all_day %}
            <time class="un-date__date__value" datetime="{{ iso_start_date }}">{{ start_date }}</time>
          {% else %}
            <time class="un-date__date__value" datetime="{{ iso_start_date }}">{{ start_date }} {{ start_time }}</time>
            —
            <time class="un-date__date__value" datetime="{{ iso_end_date }}">{{ end_time }}{% if display_timezone %} ({{ timezone }}){% endif %}</time></dd>
          {% endif %}
      </div>
    {% else %}
      <div class="un-date__wrapper un-date__wrapper--date un-date__wrapper--date--start">
        <dt class="un-date__label">{{ 'Start date:'|t }}</dt>
        <dd class="un-date__date">
          {% if all_day %}
            <time class="un-date__date__value" datetime="{{ iso_start_date }}">{{ start_date }}</time>
          {% else %}
            <time class="un-date__date__value" datetime="{{ iso_start_date }}">{{ start_date }} {{ start_time }}{% if display_timezone %} ({{ timezone }}){% endif %}</time>
          {% endif %}
        </dd>
      </div>
      <div class="un-date__wrapper un-date__wrapper--date un-date__wrapper--date--end">
        <dt class="un-date__label">{{ 'End date:'|t }}</dt>
        <dd class="un-date__date">
          {% if all_day %}
            <time class="un-date__date__value" datetime="{{ iso_end_date }}">{{ end_date }}</time>
          {% else %}
            <time class="un-date__date__value" datetime="{{ iso_end_date }}">{{ end_date }} {{ end_time }}{% if display_timezone %} ({{ timezone }}){% endif %}</time>
          {% endif %}
        </dd>
      </div>
    {% endif %}
  {% endif %}
</dl>

{% if interpretation -%}
  <div class="date-recur-interpretaton">{{ interpretation }}</div>
{% endif %}

{% if is_recurring and occurrences|length > 0 %}
  <ul class="date-recur-occurrences">
    {% for item in occurrences %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% endif %}
